<div class="col-md-6 offset-md-3">
    <div class="card" *ngIf="isLogin">
        <div class="card-body">
            <form>
                <fieldset class="form-group has-float-label">
                    <input type="email" [(ngModel)]="currentUser.email" name="email" class="form-control" placeholder="Enter email" autocomplete='email' disabled>
                    <label>Email address</label>
                </fieldset>
                <fieldset class="form-group has-float-label">
                    <input type="text" [(ngModel)]="currentUser.nickName" class="form-control" name="nickName" placeholder="Enter Nickname" disabled>
                    <label for="c-nickname">Nickname</label>
                </fieldset>
                <fieldset class="form-group has-float-label">
                    <input type="password" class="form-control" id="c-old-password" placeholder="Old Password" autocomplete='current-password'>
                    <label for="c-old-password">Old Password</label>
                </fieldset>
                <fieldset class="form-group has-float-label">
                    <input type="password" class="form-control" id="c-password" placeholder="New Password" autocomplete='current-password'>
                    <label for="c-password">New Password</label>
                </fieldset>
                <fieldset class="form-group has-float-label">
                    <input type="password" class="form-control" id="c-repeat-password" placeholder="Repeat New Password" autocomplete='current-password'>
                    <label for="c-repeat-passwor">Repeat New Password</label>
                </fieldset>
                <button type="submit" mat-raised-button color="primary" class="btn-block">Submit</button>
            </form>
        </div>
    </div>
    <div class="text-center" *ngIf="!isLogin">
        Please Login First!
        </div>
</div>
