<style type="text/css">
.svg-text{
  position: relative;
}
.egg{
 position: absolute;
 bottom: 10px;
 left: 42%;
}
</style>
<div id="nav" class="text-center" style="margin-bottom: 10px;" [@fadeIn]>
  <div class="svg-text" (click)="showEgg()">
    <svg width="100%" height="100" style="margin-top: 50px;">
      <text text-anchor="middle" x="50%" y="50%" class="text text-1">
        Lottery!
      </text>
      <text text-anchor="middle" x="50%" y="50%" class="text text-2">
        Lottery!
      </text>
      <text text-anchor="middle" x="50%" y="50%" class="text text-3">
        Lottery!
      </text>
      <text text-anchor="middle" x="50%" y="50%" class="text text-4">
        Lottery!
      </text>
    </svg>
    <div *ngIf="show_egg" [@fadeIn] class="egg">
      Are you READY to enter?
      <a href="/">Yes</a>
    </div>
  </div>

  <!-- <mat-button-toggle-group #group="matButtonToggleGroup" style="margin-bottom:20px;">
    <mat-button-toggle *ngIf="!isLogin" routerLink="/login" routerLinkActive='selected'>Login</mat-button-toggle>
    <mat-button-toggle *ngIf="isLogin" routerLink="/" (click)="doLogout()" routerLinkActive='selected'>Logout</mat-button-toggle>
    <mat-button-toggle *ngIf="!isLogin" routerLink="/register" routerLinkActive='selected'>Signup</mat-button-toggle>
    <mat-button-toggle *ngIf="isLogin" routerLink="/profile" routerLinkActive='selected'>Profile</mat-button-toggle>
    <mat-button-toggle routerLink="/lottery" routerLinkActive='selected'>Luck</mat-button-toggle>
    <mat-button-toggle routerLink="/history" routerLinkActive='selected'>History</mat-button-toggle>
  </mat-button-toggle-group> -->

  <ul class="nav justify-content-center nav-pills">
    <li class="nav-item" *ngIf="!isLogin">
      <a class="nav-link" routerLink="/login" routerLinkActive='active'>Login</a>
    </li>
    <li class="nav-item" *ngIf="isLogin">
      <a class="nav-link" routerLink="/" (click)="doLogout()">Logout</a>
    </li>
    <li class="nav-item" *ngIf="!isLogin">
      <a class="nav-link" routerLink="/register" routerLinkActive='active'>Signup</a>
    </li>
    <li class="nav-item" *ngIf="isLogin">
      <a class="nav-link" routerLink="/profile" routerLinkActive='active'>Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/lottery" routerLinkActive='active'>Luck</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/history" routerLinkActive='active'>History</a>
    </li>
  </ul>
</div>

  <div class="container main-container" [@fadeIn]>
    <router-outlet></router-outlet>
  </div>

