<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="doRegister()">
          <fieldset class="form-group has-float-label">
            <input type="email" class="form-control" id="s-email" placeholder="Enter email" autocomplete='email' required>
            <label for="s-email">Email address</label>
          </fieldset>
          <fieldset class="form-group has-float-label">
            <input type="password" class="form-control" id="s-password" placeholder="Password" autocomplete='current-password' minlength="6"
              required>
            <label for="s-password">Password</label>
          </fieldset>
          <fieldset class="form-group has-float-label">
            <input type="text" class="form-control" id="s-nickname" placeholder="Nickname" minlength="6" maxlength="15" required>
            <label for="s-nickname">Nickname</label>
          </fieldset>
          <div class="checkbox text-center">
            <mat-checkbox class="example-margin" color="primary"> <a (click)="openDialog()"> Agree Privacy Policy</a></mat-checkbox>
          </div>
          <button type="submit" mat-raised-button color="primary" class="btn-block">Sign in</button>
          <div>All data is fack, type anything</div>
        </form>
      </div>
    </div>
  </div>
</div>
